html, body {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-background {
    height: 399px;
    width: 100%;
    background: linear-gradient(4deg, #FFF 25%, #707070 25.4%)
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-item {
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px #00000029;
    width: 160px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #888888;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    border: 1px solid #707070;
    margin-bottom: 20px;
}

.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
}

.banner-title {
    padding-top: 69px;
    margin: 0 16px 56px 16px;
}

.banner-title span {
    display: block;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-align: left
}

.banner-title span:first-child{
    font-size: 20px;
    line-height:24px;
}

.banner-title span:nth-child(2) {
    font-size: 40px;
    line-height:49px;
    font-weight: bold;
}

.banner-title span:last-child {
    font-size: 14px;
    line-height: 16px;
    margin-top: 9px;
}

/* SECTION REGISTER */

#section-register {
    margin: 29px 18px 0px 17px;
}

.form-section-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #888888;
    letter-spacing: 0px;
    margin: 0 0 30px 0;
    height: 23px;
}

.register-text {
    font-size: 12px;
    line-height: 18px;
    color: #888888;
    text-align: left;
    margin-bottom: 30px;
}

.input-group-register-radio {
    margin-bottom: 23px;
}

.input-group-register label {
    display: block;
    margin-bottom: 7px;
    color: #888888;
    font-size: 12px;
}

.input-group-register-radio label{
    color: #707070;
    margin-right: 40px;
}

.input-group-register input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.form-button {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #888888;
    height: 39px;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.invalid-name, .invalid-email, .invalid-cpf {
    margin-bottom: 3px;
    display: block;
    font-size: 12px;
    color: #E72323;
}

.invalid-input {
    border: 1px solid #E72323 !important;
}


.invisible {
    visibility: hidden;
}

/* SECTION PRODUCTS */

#section-products {
    margin: 91px 18px 128px 10px;
}

.section-products-title {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 23px 0px;
}

.grid-products {
    box-sizing: border-box;
    margin-bottom: 52px;
}
    
.product-item {
    display: grid;
    grid-template-columns: 169px 1fr;
    gap: 23px;
}

.product-img {
    position: relative;
    box-sizing: border-box;
    height: 129px;
    min-width: 169px;
    border: 1px solid #707070;
    overflow: hidden;
}

.product-img img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.product-details {
    width: 100%;
}

.product-name {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 13px 0px;
    color: #888888;
    height: 16px;
}

.product-description, .old-price, .price-details {
    font-size: 12px;
    color: #888888;
}

.product-description {
    display: none;
    margin: 0px;
    height: 60px;
}

.old-price {
    margin: 0 0 6px 0;
    font-size: 12px;
    line-height: 16px;;
    height: 14px;
}

.price {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #888888;
    margin: 0 0 7px 0;
    height: 19px;
}

.price-details {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px 0;
    height: 14px;
}

.buy-button {
    width: 100%;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #888888;
    border-radius: 4px;
    border: 1px solid #707070;
}

.see-more-button {
    display: block;
    width: 260px;
    height: 39px;
    color: #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    margin: 0 auto;
}

/* SECTION NEWSLETTER */

#section-newsletter {
    margin: 0px 20px 85px 9px;
}

.section-newsletter-title {
    color: #888888;
    font-size: 18px;
    margin-bottom: 0px 0px 44px 0px;
    text-align: center;
}

.section-newsletter-subtitle {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-bottom: 39px;
    color: #888888;
}

.form-newsletter {
    color: #888888;
    width: 100%;
}

.form-newsletter label {
    display: block;
    font-size: 12px;
}

.form-newsletter .input-group:first-child {
    margin-bottom: 20px;
}

.form-newsletter .input-group:last-child {
    margin-bottom: 42px;
}

.form-newsletter input {

    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.newsletter-button {
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    color: #888888;
}

/* FOOTER */
footer {
    background: linear-gradient(-6deg, #707070 78%, #FFF 78.5%)
}

.footer-info{
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 71px 0 36px 0;
    color: white;
}

.footer-info p{
    margin: 0px;
}

@media (max-width: 419px) {

    .navbar-item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .header-background {
        height: 100%;
    }
}

@media (max-width: 839px) {
    .grid-products {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        gap: 30px;
    }
}

@media (min-width: 840px) {
    .banner-title span {
        text-align: center;
    }

    .grid-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 41px;
    }

    .form-newsletter {
        display: flex;
        justify-content: center;
    }

    .form-newsletter .input-group:first-child {
        margin-right: 40px;
    }

    .form-newsletter input {
        width: 340px;
        height: 30px;
    }
}

@media (min-width: 960px) {
    main {
        width: 930px;
        margin: 0 auto;
    }

    #section-register {
        margin: 21px 0 79px 0;
        display: grid;
        grid-template-columns: 520px 340px;
        gap: 60px;
    }

    .register-text {
        margin-bottom: 30px;
    }
    
}

@media (min-width: 1260px){

    #section-register, #section-products, #section-newsletter {
        margin-left: 0px;
        margin-right: 0px;
    }

    

    .grid-products {
        display: block;
        display: grid;
        grid-template-columns: repeat(4, 200px);
    }

    .product-name {
        margin: 14px 0 10px 0;
    }


    .product-description {
        display: block;
        width: 100%;
    }

    .product-item {
        display: block;
        width: 200px;
    }

    .product-img {
        height: 150px;
        width: 200px;
    }
}