html, body {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-background {
    height: 399px;
    width: 100%;
    background: linear-gradient(4deg, #FFF 25%, #707070 25.4%)
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-item {
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px #00000029;
    width: 160px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    color: #888888;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    border: 1px solid #707070;
    margin-bottom: 20px;
}

.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
}

.banner-title {
    padding-top: 69px;
    margin: 0 16px 56px 16px;   

}

.banner-title span {
    display: block;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-align: left
}

.banner-title span:first-child{
    font-size: 20px;
    line-height:24px;
}

.banner-title span:nth-child(2) {
    font-size: 40px;
    line-height:49px;
    font-weight: bold;
}

.banner-title span:last-child {
    font-size: 14px;
    line-height: 16px;
    margin-top: 9px;
}

/* SECTION NEWSLETTER */

#section-newsletter {
    margin: 29px 18px 0px 17px;
}

.form-section-title {
    font-size: 20px;
    font-weight: 24px;
    color: #888888;
    letter-spacing: 0px;
    margin: 0 0 30px 0;
}

.newsletter-text {
    font-size: 12px;
    font-weight: 18px;
    color: #888888;
    text-align: left;
    margin-bottom: 30px;
}

.input-group-newsletter {
    margin-bottom: 20px;
}

.input-group-newsletter-radio {
    margin-bottom: 23px;
}

.input-group-newsletter label {
    display: block;
    margin-bottom: 7px;
    color: #888888;
    font-size: 12px;
}

.input-group-newsletter-radio label{
    color: #707070;
    margin-right: 40px;
}

.input-group-newsletter input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.form-button {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #888888;
    height: 39px;
}

/* SECTION PRODUCTS */

#section-products {
    margin: 91px 18px 128px 10px;
}

.section-products-title {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 23px 0px;
}

.grid-products {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 30px;
}
    
.product-item {
    display: grid;
    grid-template-columns: 169px 1fr;
    gap: 23px;
    height: 100%;
}

.product-img {
    position: relative;
    box-sizing: border-box;
    height: 129px;
    min-width: 169px;
    border: 1px solid #707070;
}

.product-details {
    height: 100%;
    width: 100%;
}

.product-name {
    font-size: 14px;
    margin: 0 0 13px 0px;
    color: #888888
}

.product-description, .old-price, .price-details {
    font-size: 12px;
    color: #888888;
}

.product-description {
    display: none;
    margin: 0px;
    height: 60px;
}

.old-price {
    margin: 0 0 6px 0;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    margin: 0 0 7px 0;
}

.price-details {
    margin: 0 0 10px 0;
}

.buy-button {
    width: 100%;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #888888;
    border-radius: 4px;
    border: 1px solid #707070;
}

.see-more-button {
    display: block;
    width: 260px;
    height: 39px;
    color: #707070;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    margin: 52px auto 0 auto;
}

/* FOOTER */
footer {
    background: linear-gradient(-6deg, #707070 78%, #FFF 78.5%)
}

.footer-info{
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 71px 0 36px 0;
    color: white;
}

.footer-info p{
    margin: 0px;
}

